/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    background-color: #0a0a0a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

/* Form Container */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

/* Form Box */
.form-box {
    background: #0a0a0a;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px; /* Added margin to separate login and register forms */
}

.form__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1d9bf0;
}

.form__div {
    position: relative;
    margin-bottom: 20px;
}

.form__input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #0a0a0a;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #979797;
}

.form__input::placeholder {
    color: transparent;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #1d9bf0;
}

.form__label {
    position: absolute;
    left: 12px;
    top: 12px;
    padding: 0 5px;
    background-color: #0a0a0a;
    transition: 0.3s;
    color: #8a8a8a;
}

.form__input.invalid {
    border-bottom: 2px solid red;
}

.form__button {
    width: 100%;
    padding: 12px;
    background-color: #1d9bf0;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.form__button:hover {
    background-color: #0d8ce0;
}

.signin-link {
    margin-top: 15px;
    font-size: 14px;
}

.signin-link a {
    color: #1d9bf0;
    text-decoration: none;
}

.signin-link a:hover {
    text-decoration: underline;
}