<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/register.css?v=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>Login - Alekkum Network</title>
</head>
<body>
<div class="form-container">
    <div class="form-box">
        <h1 class="form__title">Alekkum Network</h1>
        <form id="login-form" action="/login" method="POST" class="form">
            <div class="form__div">
                <input type="text" id="username" name="username" class="form__input" placeholder=" " required>
                <label for="username" class="form__label">Username</label>
                <p class="error-message" id="username-error"></p>
            </div>

            <div class="form__div">
                <input type="password" id="password" name="password" class="form__input" placeholder=" " required>
                <label for="password" class="form__label">Password</label>
                <i id="password-icon" class="fas fa-eye toggle-password" onclick="togglePassword('password')"></i>
                <span id="caps-lock-indicator-password" class="caps-lock-indicator">
                    <i class="fas fa-keyboard"></i> CAPS LOCK
                </span>
                <p class="error-message" id="password-error"></p>
            </div>

            <div class="form__div">
                <input type="checkbox" id="remember-me" name="remember_me">
                <label for="remember-me">Remember Me</label>
            </div>

            <button type="submit" class="form__button">Login</button>

            <div id="error-message" class="error-message">
                {{ . }}
            </div>

        </form>
        <p class="signin-link">Don't have an account? <a href="/register">Register</a></p>
    </div>
</div>

<script src="static/validation.js"></script>
<script>
    // Attach the functionality to both fields
    setupCapsLockIndicator('password', 'caps-lock-indicator-password');
    setupCapsLockIndicator('confirm-password', 'caps-lock-indicator-confirm');


    // Attach the show/hide password functionality (no changes needed; it’s already in use)
</script>
</body>
</html>
